In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [24]:
df = pd.read_csv('2019.csv')

df.drop(['Rk', '2PM', '2PP', 'FDPt', 'PosRank', 'OvRank', 'GS','DKPt','VBD'], axis=1, inplace=True)

df['Player'] = df['Player'].apply(lambda x: x.split('*')[0]).apply(lambda x: x.split('\\')[0])

df.rename({
    'TD': 'PassingTD',
    'TD.1': 'RushingTD',
    'TD.2': 'RecievingTD',
    'TD.3': 'TotalTD',
    'Yds': 'PassingYDs',
    'Yds.1': 'RushingYDs',
    'Yds.2': 'ReceivingYDs',
    'Att': 'PassingAtt',
    'Att.1': 'RushingAtt',
    'FantPos': 'Pos',
    'Tm': 'Team'
}, axis=1, inplace=True)

rb_df = df[df['Pos'] == 'RB']
qb_df = df[df['Pos'] == 'QB']
wr_df = df[df['Pos'] == 'WR']
te_df = df[df['Pos'] == 'TE']

In [25]:
rushing_columns = ['RushingAtt', 'RushingYDs', 'Y/A', 'RushingTD']
receiving_columns = ['Rec', 'ReceivingYDs', 'Y/R']
passing_columns = ['PassingAtt', 'PassingYDs', 'PassingTD', 'Int']

def transform_columns(df, new_column_list):
    df = df[['Player', 'Age', 'G'] + new_column_list + ['FL']]
    return df

In [26]:
rb_df = transform_columns(rb_df, rushing_columns+receiving_columns)
wr_df = transform_columns(wr_df, rushing_columns+receiving_columns)
te_df = transform_columns(te_df, receiving_columns)
qb_df = transform_columns(qb_df, passing_columns)

In [27]:
df

,Player,Team,Pos,Age,G,Cmp,PassingAtt,PassingYDs,PassingTD,Int,...,Tgt,Rec,ReceivingYDs,Y/R,RecievingTD,Fmb,FL,TotalTD,FantPt,PPR
0,Christian McCaffrey,CAR,RB,23,16,0,2,0,0,0,...,142,116,1005,8.66,4,1,0,19,355.0,471.2
1,Lamar Jackson,BAL,QB,22,15,265,401,3127,36,6,...,0,0,0,NaN,0,9,2,7,418.0,417.7
2,Derrick Henry,TEN,RB,25,15,0,0,0,0,0,...,24,18,206,11.44,2,5,3,18,277.0,294.6
3,Aaron Jones,GNB,RB,25,16,0,0,0,0,0,...,68,49,474,9.67,3,3,2,19,266.0,314.8
4,Ezekiel Elliott,DAL,RB,24,16,0,0,0,0,0,...,71,54,420,7.78,2,3,2,14,258.0,311.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,Ray-Ray McCloud,CAR,NaN,23,6,0,0,0,0,0,...,0,0,0,NaN,0,3,1,0,-2.0,-2.0
599,Darrius Shepherd,GNB,WR,24,6,0,0,0,0,0,...,2,1,1,1.00,0,1,1,0,-2.0,-0.9
600,Jarrett Stidham,NWE,QB,23,3,2,4,14,0,1,...,0,0,0,NaN,0,0,0,0,-2.0,-1.6
601,Michael Walker,JAX,WR,23,7,0,0,0,0,0,...,3,2,15,7.50,0,2,2,0,-3.0,-0.5
602,Corey Clement,PHI,NaN,25,4,0,0,0,0,0,...,0,0,0,NaN,0,2,2,0,-4.0,-4.0